.about--us--container {
    padding: 5px 120px;
}

.about--us--heading {
    font-family: 'Random Grotesque Standard Bold';
    font-weight: 700;
    font-size: 64px;
    line-height: 92px;
    text-align: center;
    color: #50BDFF;
}

.video > iframe {
    border-radius: 20px;
    width: 100%;
}

.video {
    margin-top: 63px;
    display: flex;
    gap: 122px
}

.media--desc {
    max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.media--desc > h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #50BDFF;
}

.media--desc > p {
    margin-top: 43px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #666666;
} 

.quality {
    margin-top: 164px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality > img {
    max-height: 366px;
}

.nutrition {
    margin-top: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our--principes--heading {
    margin-top: 105px;
    font-weight: 700;
    font-size: 31.7983px;
    line-height: 39px;
    color: #50BDFF;
}   

.our--principes {
    margin-top: 56px;
    display: flex;
    gap: 52.5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.principes--el {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.principes--el > h5 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #50BDFF;
}

.principes--el > p {
    margin-top: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #666666;
}

.serious--blocks {
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.serious--blocks > h1 {
    font-weight: 700;
    font-size: 31.7983px;
    line-height: 39px;
    color: #50BDFF;

}

.serious--buttons {
    margin-top: 47px;
    display: flex;
    gap: 50px;
}

.serious--buttons > button {
    padding: 50px;
    border-radius: 23px;
    border: 3px solid #7FCFFF;
    width: 366px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #50BDFF;
    text-align: center;
}